<!-- views/partials/footer.ejs -->
<div class="footer-main">
  <div class="footer-main__text ">text text</div>
  <div class="footer-main__img__youtube "></div>
  <div class="footer-main__img__github "></div>
</div>
