<!-- views/partials/footer.ejs -->
<div class="footer"></div>
<div class="footer footer-main">
  <div class="footer-main__item footer-item__text ">(c) faxe atomics</div>
  <div class="footer-main__item">
    <span class="footer-item__img fab fa-youtube"></span>
    <span class="footer-item__img fab fa-github"></span>
  </div>
</div>
<div class="footer"></div>
