<!-- views/partials/footer.ejs -->
<div class="footer footer-main">
  <div class="footer-main__item footer-item__text ">
    <h3 class="far fa-copyright"></h3>
    <h3>faxe atomics</h3>
  </div>
  <div class="footer-main__item footer-item__link">
    <a
      href="https://www.linkedin.com/in/ola-faxe-b88194170/"
      target="_blank"
      class="footer-item__img fab fa-linkedin"
    ></a>
    <a
      href="https://github.com/olafaxe/"
      target="_blank"
      class="footer-item__img fab fa-github"
    ></a>
  </div>
</div>
