<!-- views/partials/header.ejs -->
<div class="header header__left">
  <img class="header__left--logo__image" src="/images/logo.png" />
</div>
<div class="header header__middle"></div>
<div class="header header__right">
  <div class="header__right--link__first">
    <h4>about</h4>
  </div>
  <div class="header__right--link__second">
    <h4>faq</h4>
  </div>
  <div class="header__right--link__third">
    <h4>contact</h4>
  </div>
</div>
