<!-- views/partials/header.ejs -->
<div class="header__left nav-main nav__cursor">
  <img
    class="header__left--logo__image nav-main nav__cursor"
    src="/images/logo.png"
  />
</div>
<div class="header__middle"></div>
<div class="header__right flex-direct__column">
  <div class="header-link header__right--link__first nav-about">
    <h4 class="link__text nav-about nav__cursor">about</h4>
  </div>
  <div class="header-link header__right--link__second">
    <h4 class="link__text nav-projects nav__cursor">projects</h4>
  </div>
  <div class="header-link header__right--link__third">
    <h4 class="link__text nav-contact nav__cursor">contact</h4>
  </div>
</div>
