<div class="about__first parallax">
  <div class="about__backdrop">
    <div class="about__text">
      <h1 class="about__headline">This is me</h1>
      <h3>Cool bro doing his best</h3>
      <h3>Got some skills in html, css & javascript</h3>
      <h3>Pretty creative and a natural born problem solver</h3>
      <h3>Founding member of the A-Team</h3>
    </div>
  </div>
</div>
