<div class="contact-container">
  <form id="email-form" class="contact-form" method="POST">
    <!-- <fieldset> -->
    <h2>If yer a cool cat, why don't ya holla?</h2>
    <input
      type="text"
      id="contact-form__subject"
      name="subject"
      placeholder="Dear webdesigner, "
    />
    <textarea form="email-form" id="contact-form__texta" name="text"></textarea>
    <input type="email" id="contact-form__email" name="email" placeholder="your@mail.com" />
    <input type="submit" id="contact-form__send-btn" class="nav-contact form__send-btn" name="button" value="Send me a msg!" />
    <!-- </fieldset> -->
  
    </form>
  
  </form>
</div>
