<div class="contact-container">
  <form class="contact-form">
    <fieldset>
      <h2>If yer a cool cat, why don't ya holla?</h2>
      <input
        type="text"
        id="contact-form__subject"
        placeholder="Dear webdesigner, "
      />
      <textarea form="contact-form" id="contact-form__texta"></textarea>
      <input
        type="email"
        id="contact-form__email"
        placeholder="your@mail.com"
      />
      <input type="button" id="contact-form__send-btn" value="Send me a msg!" />
    </fieldset>
  </form>
</div>
