<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head.ejs %>
    <title>faxe atomics</title>
  </head>

  <body>
    <div class="grid-container">
      <div class="header-container">
        <% include ../partials/header %>
      </div>

      <% if(sentMail) {%>
      <div class="send-confirm send-confirm_btn">
        <h2 class="send-confirm_btn"><%=sentMail%></h2>
        <input class="send-confirm_btn" type="button" value="COOL BEANS!" />
      </div>
      <% }%>

      <div class="content-container"></div>
      <div class="footer-container">
        <% include ../partials/footer %>
      </div>
    </div>
  </body>
</html>
