<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head.ejs %>
    <!-- head partial -->
    <title>Document</title>
  </head>

  <body>
    <div class="grid-container">
      <div class="header-container">
        <% include ../partials/header %>
      </div>
      <div class="index-container index__first parallax">
        <div>
          <h4>faxe atomics</h4>
          <h1>ENGINEERING THE FUTURE OF FRONTEND</h1>
          <h4>CLEAN, CHEAP, SAFE AND ABUNDANT LABOUR USING JS, CSS & HTML</h4>
          <div></div>
          <div class="btn-container btn-nav">
            <h5 class="btn-nav">LEARN MORE</h5>
          </div>
        </div>
      </div>
      <div class="index-container index__second parallax">
        <div>
          <h2>Radically changing nuclear power</h2>
          <p>
            Radically changing nuclear energy technology is a rapidly growing
            industry and research area dedicated to developing fundamentally new
            types of nuclear reactors. Such reactors are targeted to solve
            problems of existing nuclear reactor technology, including waste,
            risk, scalability, and cost.
          </p>
        </div>
        <div>
          <h2>Molten salt reactors and Thorium</h2>
          <p>
            At Copenhagen Atomics we believe that reactors using molten salt as
            coolant (MSRs) and thorium as an abundant and cheap energy source is
            the best solution for completely changing nuclear energy and energy
            production in general. A thorium based molten salt reactor is small,
            efficient, safe, and with an optimal waste profile including the
            burning of nuclear waste from current plants.
          </p>
        </div>
        <div>
          <h2>Thorium energy and the environment</h2>
          <p>
            Nuclear reactors don’t produce gaseous pollution such as CO2, SO2,
            and NOx or particulate matter pollution. This occurs at a massive
            scale with fossil fuels and is the main cause of our largest
            environmental problem today. Furthermore, thorium MSRs can deliver a
            scalability and cost proposition superior to any existing energy
            technology, including current nuclear, renewables and fossil fuels.
          </p>
        </div>
      </div>
      <div class="index-container index__third parallax">
        <div>
          <h2>ABOUT</h2>
          <h4>Learn more about me and my amazing skills</h4>
          <div class="btn-container btn-nav"><h5 class="btn-nav">Yo!</h5></div>
        </div>
      </div>
      <div class="footer-container">
        <% include ../partials/footer %>
      </div>
    </div>
  </body>
</html>
