<div class="index__first parallax">
  <div>
    <h4>faxe atomics</h4>
    <h1>ENGINEERING THE FUTURE OF FRONTEND</h1>
    <h4>CLEAN, CHEAP, SAFE AND ABUNDANT LABOUR USING JS, CSS & HTML</h4>
    <div></div>
    <input
      type="button"
      class="btn-container nav-projects nav__cursor"
      value="projects"
    />
  </div>
</div>
<div class="index__second parallax">
  <section class="projects__flex main__flex">
    <div class="projects-card main-card">
      <div class="">
        <img src="/images/js.png" alt="gridlock" />
      </div>
      <div class="">
        <!-- <h3>Wannabe script-kiddie</h3> -->
        <h3>Working with</h3>
      </div>
    </div>
    <div class="projects-card main-card">
      <div class="">
        <img src="/images/css.png" alt="gridlock" />
      </div>
      <div class="">
        <!-- <h3>Stylish between the sheets</h3> -->
        <h3>Working with</h3>
      </div>
    </div>
    <div class="projects-card main-card">
      <div class="">
        <img src="/images/html.png" alt="gridlock" />
      </div>
      <div class="">
        <!-- <h3>Mark for markup</h3> -->
        <h3>Working with</h3>
      </div>
    </div>
    <div class="projects-card main-card">
      <div class="">
        <img src="/images/ts.png" alt="gridlock" />
      </div>
      <div class="">
        <!-- <h3>The right type(script)</h3> -->
        <h3>Working with</h3>
      </div>
    </div>
    <div class="projects-card main-card">
      <div class="">
        <img src="/images/sass.png" alt="gridlock" />
      </div>
      <div class="">
        <!-- <h3>Sass. No pun needed.</h3> -->
        <h3>Working with</h3>
      </div>
    </div>

    <div class="projects-card main-card">
      <div class="">
        <img src="/images/react.png" alt="gridlock" />
      </div>
      <div class="">
        <!-- <h3>Reacting to new techniques</h3> -->
        <h3>Learning</h3>
      </div>
    </div>
    <div class="projects-card main-card">
      <div class="">
        <img src="/images/node.png" alt="gridlock" />
      </div>
      <div class="">
        <!-- <h3>No(de) challenge is too hard!</h3> -->
        <h3>Learning</h3>
      </div>
    </div>
  </section>

  <!-- <div>
    <h2>Cool stuff in JS</h2>
    <p>
      Coding stuff in javaScript.
    </p>
    <img class="icon-image" src="/images/js.png" />
  </div>
  <div>
    <h2>Stylish in CSS</h2>
    <p>
      Styling sheets in CSS
    </p>
    <img class="icon-image" src="/images/css.png" />
  </div>
  <div>
    <h2>Mark for HTML</h2>
    <p>
      Writing markup in HTML
    </p>
    <img class="icon-image" src="/images/html.png" />
  </div> -->
</div>
<div class="index__third parallax">
  <div>
    <h2>ABOUT</h2>
    <h4>Learn more about me and my amazing skills</h4>
    <input
      type="button"
      class="btn-container nav-about nav__cursor"
      value="about"
    />
  </div>
</div>
