<div class="projects__first projects-banner">
  <img class="project-image" src="images/project.png" />
</div>
<div class="projects__second projects-background">
  <section class="projects__flex">
    <div class="projects-card ">
      <div class="projects__first-card projects__first-card__image">
        <a href="https://mellon-planting.herokuapp.com/" target="_blank">
          <img src="/images/mellon2.png" alt="gridlock" />
        </a>
      </div>
      <div class="projects__first-card projects__first-card__info">
        <h3>Todo list in React</h3>
        <h5>HTML/CSS/JS (react/hooks)</h5>
        <a
          href="https://github.com/olafaxe/mellon-todo"
          target="_blank"
          class="project__github-icon fab fa-github"
        ></a>
      </div>
    </div>
    <div class="projects-card ">
      <div class="projects__first-card projects__first-card__image">
        <a href="https://olafaxe.github.io/stopwatch/" target="_blank">
          <img src="/images/stopwatch.png" alt="gridlock" />
        </a>
      </div>
      <div class="projects__first-card projects__first-card__info">
        <h3>Stopwatch in React</h3>
        <h5>HTML/CSS/JS (react)</h5>
        <a
          href="https://github.com/olafaxe/stopwatch"
          target="_blank"
          class="project__github-icon fab fa-github"
        ></a>
      </div>
    </div>
    <div class="projects-card ">
      <div class="projects__first-card projects__first-card__image">
        <a href="https://faxe-atomics.herokuapp.com/" target="_blank">
          <img src="/images/faxeatomic.png" alt="gridlock" />
        </a>
      </div>
      <div class="projects__first-card projects__first-card__info">
        <h3>This website!</h3>
        <h5>HTML/CSS/JS (express/ejs/heroku)</h5>
        <a
          href="https://github.com/olafaxe/nuclear-future"
          target="_blank"
          class="project__github-icon fab fa-github"
        ></a>
      </div>
    </div>
    <div class="projects-card ">
      <div class="projects__first-card projects__first-card__image">
        <a href="https://olafaxe.github.io/gridlock/gridlock" target="_blank">
          <img src="/images/gridlock.png" alt="gridlock" />
        </a>
      </div>
      <div class="projects__first-card projects__first-card__info">
        <h3>GRIDLOCK the game</h3>
        <h5>HTML/CSS/JS</h5>
        <a
          href="https://github.com/olafaxe/olafaxe.github.io/tree/master/gridlock"
          target="_blank"
          class="project__github-icon fab fa-github"
        ></a>
      </div>
    </div>
    <div class="projects-card ">
      <div class="projects__first-card projects__first-card__image">
        <a
          href="https://olafaxe.github.io/datepicker/datepicker"
          target="_blank"
        >
          <img class="" src="/images/datepicker.png" alt="datepicker" />
        </a>
      </div>
      <div class="projects__first-card projects__first-card__info">
        <h3>Datepicker</h3>
        <h5>HTML/CSS/JS</h5>
        <a
          href="https://github.com/olafaxe/olafaxe.github.io/tree/master/datepicker"
          target="_blank"
          class="project__github-icon fab fa-github"
        ></a>
      </div>
    </div>
    <div class="projects-card ">
      <div class="projects__first-card projects__first-card__image">
        <a href="https://news-of-yesterday.herokuapp.com/" target="_blank">
          <img class="" src="/images/news2.png" alt="news" />
        </a>
      </div>
      <div class="projects__first-card projects__first-card__info">
        <h3>News article manager</h3>
        <h5>HTML/CSS/JS (express/ejs/json-server)</h5>
        <a
          href="https://github.com/olafaxe/json-news"
          target="_blank"
          class="project__github-icon fab fa-github"
        ></a>
      </div>
    </div>
  </section>
</div>
