html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.header {
  flex: 1;
  background-color: #f8f8f8;
}

.header__right {
  display: flex;
}

.header__right div {
  flex: 1;
  text-align: center;
}

.header__right div h4 {
  color: #82888a;
}

@media only screen and (max-width: 370px) {
  .header__right div h4 {
    margin-top: 25px;
    font-size: 75%;
  }
}
.header-link:nth-child(1) {
  margin-left: -20px;
  margin-right: 20px;
}

.header-link:nth-child(3) {
  margin-left: 20px;
  margin-right: 20px;
}

.header__left {
  width: 100%;
  height: 100%;
  display: inline;
}

.header__left img {
  margin-top: 15px;
  margin-left: 15px;
  max-height: 35px;
  width: auto;
  height: auto;
}

.footer {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
}

.footer-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-main__item {
  flex: 1;
  display: flex;
  margin: 20px;
}

.footer-item__text {
  margin-top: 25px;
  margin-bottom: -45px;
}

.footer-item__text h3 {
  padding-left: 10px;
}

.footer-item__link {
  padding-top: 15px;
  margin-bottom: 10px;
}

.footer-item__img {
  padding-left: 10px;
  padding-right: 10px;
}

.fa-linkedin,
.fa-github {
  color: #3e7297;
  font-size: 3em;
}

.index__first {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-image: url("images/sky.png");
  background-attachment: fixed;
  background-size: cover;
  text-shadow: -1px 0 #242424, 0 1px #242424, 1px 0 #242424, 0 -1px #242424;
  font-size: 150%;
  text-align: center;
}

.index__second {
  color: #82888a;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  display: flex;
  text-align: center;
}

.index__second div {
  width: 30%;
  height: 275px;
  padding-right: 20px;
  padding-left: 20px;
}

.index__second div:nth-child(1) {
  margin-left: 5%;
  padding: 0;
}

.index__second div:nth-child(3) {
  margin-right: 60px;
  padding: 0;
}

.icon-image {
  width: 200px;
  height: 200px;
  margin-top: auto;
}

@media only screen and (max-width: 650px) {
  .icon-image {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 370px) {
  .index__second {
    font-size: 75%;
  }
}
.index__third {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-image: url("images/flower.png");
  background-attachment: fixed;
  background-size: cover;
  text-shadow: -1px 0 #242424, 0 1px #242424, 1px 0 #242424, 0 -1px #242424;
  font-size: 200%;
  text-align: center;
}

.btn-container {
  background-color: #f8f8f8;
  border: none;
  color: #82888a;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  width: 125px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  outline: 3px solid #00000080;
}

.nav__cursor {
  cursor: pointer;
}

.about__first {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-image: url("images/Hipster.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-shadow: -1px 0 #242424, 0 1px #242424, 1px 0 #242424, 0 -1px #242424;
  font-size: 150%;
  text-align: center;
  position: relative;
}

.about__backdrop {
  background-color: #00000075;
  border: solid 5px #ffffff;
  width: 700px;
  height: 325px;
}

@media only screen and (max-width: 1100px) {
  .about__backdrop {
    width: 500px;
    height: 415px;
  }
}
@media only screen and (max-width: 950px) {
  .about__backdrop {
    width: 375;
    height: 440px;
  }
}
@media only screen and (max-width: 950px) {
  .about__backdrop {
    width: 390px;
    height: 415px;
    font-size: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .about__backdrop {
    width: 450px;
    height: 425px;
    text-align: justify;
    padding: 10px;
  }
}
@media only screen and (max-width: 530px) {
  .about__backdrop {
    width: 450px;
    height: 500px;
    text-align: justify;
    padding: 10px;
  }
}
@media only screen and (max-width: 510px) {
  .about__backdrop {
    width: 375px;
    height: 415px;
    text-align: justify;
    padding: 20px;
    font-size: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .about__backdrop {
    width: 300px;
    height: 500px;
    text-align: justify;
    padding: 20px;
    font-size: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .about__backdrop {
    width: 235;
    height: 535;
    text-align: justify;
    padding: 20px;
    font-size: 100%;
  }
}
.about__text {
  filter: none;
}

.about__headline {
  font-size: 150%;
}

.projects__first {
  align-items: center;
  justify-content: center;
}

.projects-banner {
  width: 100%;
  height: 100%;
  background-image: url("images/banner.png");
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
}

.projects-headline {
  color: #ffffff;
  font-size: 300%;
}

.projects-background {
  background-color: #f8f8f8;
}

.projects-second {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.projects__flex {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects-card {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  border: solid 5px #f8f8f8bd;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: 14px 11px 32px -5px #82888aeb;
  width: 300px;
}

.projects-card:nth-child(even) {
  margin-left: 0;
  margin-right: 0;
}

.projects__first-card__image img {
  margin: auto;
  height: 300px;
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
