html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.header {
  flex: 1;
  background-color: #f8f8f8;
}

.header__right {
  display: flex;
}

.header__right div {
  flex: 1;
  text-align: center;
}

.header__right div h4 {
  color: #82888a;
}

@media only screen and (max-width: 370px) {
  .header__right div h4 {
    margin-top: 25px;
    font-size: 75%;
  }
}
.header-link:nth-child(1) {
  margin-left: -20px;
  margin-right: 20px;
}

.header-link:nth-child(3) {
  margin-left: 20px;
  margin-right: 20px;
}

.header__left {
  flex: 1;
  display: inline;
}

.header__left img {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
  max-height: 35px;
  width: auto;
  height: auto;
}

.header__middle {
  flex: 2;
}

.footer {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
}

.footer-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-main__item {
  flex: 1;
  display: flex;
  margin: 20px;
}

.footer-item__text {
  margin-top: 25px;
  margin-bottom: -45px;
}

.footer-item__text h3 {
  padding-left: 10px;
}

.footer-item__link {
  padding-top: 15px;
  margin-bottom: 10px;
}

.footer-item__img {
  padding-left: 10px;
  padding-right: 10px;
}

.fa-linkedin,
.fa-github {
  color: #76a8cc;
  font-size: 3em;
}

.index__first div:nth-child(1) {
  margin-top: -250px;
}

.index__first h1,
.index__first h2,
.index__first h4,
.index__second h1,
.index__second h2,
.index__second h4,
.index__third h1,
.index__third h2,
.index__third h4 {
  margin-left: 5%;
  margin-right: 5%;
}

.index__first {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-image: url("images/sky.png");
  background-attachment: fixed;
  background-size: cover;
  text-shadow: -1px 0 #242424, 0 1px #242424, 1px 0 #242424, 0 -1px #242424;
  font-size: 150%;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .index__first {
    font-size: 100%;
  }
}
.index__second {
  color: #82888a;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  display: flex;
  text-align: center;
}

.icon-image {
  width: 200px;
  height: 200px;
  margin-top: auto;
}

.index__third {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-image: url("images/flower.png");
  background-attachment: fixed;
  background-size: cover;
  text-shadow: -1px 0 #242424, 0 1px #242424, 1px 0 #242424, 0 -1px #242424;
  font-size: 200%;
  text-align: center;
}

.btn-container {
  background-color: #f8f8f8;
  border: none;
  color: #82888a;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  width: 125px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  outline: 3px solid #00000080;
}

.nav__cursor {
  cursor: pointer;
}

.about__first {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-image: url("images/Hipster.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-shadow: -1px 0 #242424, 0 1px #242424, 1px 0 #242424, 0 -1px #242424;
  font-size: 150%;
  text-align: center;
  position: relative;
}

.about__backdrop {
  background-color: #00000075;
  border: solid 5px #ffffff;
  margin-top: -75px;
  width: 700px;
  height: 325px;
}

@media only screen and (max-width: 1100px) {
  .about__backdrop {
    width: 500px;
    height: 415px;
  }
}
@media only screen and (max-width: 950px) {
  .about__backdrop {
    width: 375;
    height: 440px;
  }
}
@media only screen and (max-width: 950px) {
  .about__backdrop {
    width: 390px;
    height: 415px;
    font-size: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .about__backdrop {
    width: 450px;
    height: 425px;
    text-align: justify;
    padding: 10px;
  }
}
@media only screen and (max-width: 530px) {
  .about__backdrop {
    width: 425px;
    margin-top: -100px;
    height: 500px;
    text-align: justify;
    padding: 10px;
  }
}
@media only screen and (max-width: 510px) {
  .about__backdrop {
    width: 375px;
    height: 415px;
    text-align: justify;
    padding: 20px;
    font-size: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .about__backdrop {
    width: 300px;
    height: 350px;
    text-align: justify;
    padding: 20px;
    font-size: 75%;
  }
}
@media only screen and (max-width: 375px) {
  .about__backdrop {
    width: 235px;
    height: 350px;
    text-align: justify;
    padding: 20px;
    font-size: 75%;
  }
}
@media only screen and (max-width: 340px) {
  .about__backdrop {
    width: 175px;
    height: 415px;
    margin-top: -150px;
    text-align: justify;
    padding: 20px;
    font-size: 75%;
  }
}
.about__text {
  filter: none;
}

.about__headline {
  font-size: 150%;
}

.projects__first {
  align-items: center;
  justify-content: center;
}

.projects-banner {
  width: 100%;
  height: 100%;
  background-image: url("images/banner.png");
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
}

.project-image {
  display: none;
}

@media only screen and (min-width: 1800px) {
  .projects-banner {
    background-size: 100%;
  }
}
@media only screen and (max-width: 855px) {
  .projects-banner {
    background-image: none;
    background-size: contain;
    background-color: #4682ad;
  }

  .project-image {
    display: flex;
    width: 700px;
    margin-top: 0px;
    margin-left: auto;
  }

  .about__first {
    background-image: url("images/Hipstersmall.jpg");
  }
}
@media only screen and (max-width: 735px) {
  .project-image {
    width: 600px;
  }
}
@media only screen and (max-width: 620px) {
  .project-image {
    width: 500px;
  }
}
@media only screen and (max-width: 520px) {
  .project-image {
    width: 300px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 520px) {
  .project-image {
    width: 200px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 310px) {
  .project-image {
    width: 150px;
    margin-left: 10%;
  }
}
.projects-headline {
  color: #ffffff;
  font-size: 300%;
}

.projects-background {
  background-color: #f8f8f8;
}

.projects-second {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.projects__flex {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects-card {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  border: solid 5px #f8f8f8bd;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: 14px 11px 32px -5px #82888aeb;
  width: 300px;
}

.projects-card:nth-child(even) {
  margin-left: 0;
  margin-right: 0;
}

.projects__first-card__image img {
  margin: auto;
  height: 300px;
}

.nav-contact {
  cursor: pointer;
}

.contact-form {
  margin-top: 5px;
  margin-bottom: 45px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-form #contact-form__texta {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  font-size: 115%;
  resize: none;
  max-width: 500px;
  max-height: 300px;
  min-height: 300px;
}

.contact-form .contact-form__animation {
  transition: 1s;
  background: url("images/cat2.webp");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position-x: 50%;
  background-position-y: 25%;
}

.contact-form .contact-form__nomation {
  background: url("images/cat2.webp");
  background-repeat: no-repeat;
  background-size: 25%;
  transition: 2.5s;
  background-position-x: -100%;
}

.contact-form #contact-form__subject {
  width: 255px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-size: 125%;
  padding-left: 10px;
}

.contact-form #contact-form__email {
  margin-left: auto;
  margin-right: auto;
  width: 255px;
  margin-top: 20px;
  padding-left: 10px;
}

.contact-form #contact-form__send-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 265px;
  height: 100px;
  font-size: 150%;
  border: none;
  background-color: #3c4e58;
  box-shadow: 6px 6px 0px -3px #29363d;
  color: #f8f8f8;
}

@media only screen and (max-width: 425px) {
  .contact-form h2 {
    font-size: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .contact-form #contact-form__texta {
    width: 250px;
    height: 50%;
  }

  .contact-form #contact-form__send-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 165px;
    height: 75px;
    font-size: 125%;
  }
}
.send-confirm {
  margin-left: auto;
  width: 300px;
  height: 170px;
  z-index: 99999;
  background-color: #7b9093;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  outline: 3px solid #00000080;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.send-confirm h2 {
  padding: 10px;
}

.send-confirm input {
  border: none;
  height: 30px;
  padding: 0;
  width: 200px;
  font-size: 18px;
  box-shadow: 2px 2px 0px 0px #11260c;
  color: #82888a;
  background-color: #f8f8f8;
}

.project__github-icon {
  padding-bottom: 10px;
}

.fab {
  transition: 0.5s;
  opacity: 1;
}

.fab:hover {
  transition: 0.5s;
  opacity: 0.7;
}

.main-card {
  width: 30%;
  height: 275px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-card h3 {
  padding-top: 20px;
}

.main-card img {
  max-width: 40%;
}

.main-card div:nth-child(1) {
  margin-top: 30px;
  margin-left: 0px;
  height: 25%;
}

.main-card div:nth-child(2) {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}

@media only screen and (max-width: 650px) {
  .main__flex {
    flex-direction: column;
  }

  .main-card {
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    min-height: 250px;
  }

  .main-card:nth-child(even) {
    margin-left: auto;
    margin-right: auto;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  body {
    cursor: pointer;
  }

  /* CSS specific to iOS devices */
}
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
